.paginationList {
  padding: 80px 0 16px;
  display: flex;
  justify-content: center;
}

.paginationItem {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active {
  background-color: var(--color-black);
  border-radius: 4px;
  color: var(--color-white);
}
